<h1><%= @article.title %></h1> 
<!--Show the tittle and body of the article selected-->
<p><%= @article.body %></p>

    <ul>
        <li><%= link_to "Edit", edit_article_path(@article) %></li>
        <li><%= link_to "Destroy", article_path(@article),
        method: :delete,
        data: { confirm: "Are you sure?"} %></li>
        <li><%= link_to "Back to index", "/articles" %></li>
    </ul>


<h2> Comments: </h2>
<%= render @article.comments %>



<h2> Add a new comment: </h2>
  <%= render 'comments/form'%>